@layer components{
    .gallery-item{
        position: relative;
        opacity: 1;
    }
    /* .gallery-item::after{
        content: "";
        position: absolute;
        background: white url("../../assets/paw.svg")  no-repeat;
        background-color: white;
        border-radius: 999px;
        background-size: cover;
        top: 1.5rem;
        right: 1.5rem;
        width: 3rem;
        height: 3rem;
        display: inline-block;
    }
    .gallery-item.active::after{
        background-color: pink;
    } */
}